<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../script/bootstrap.css"></link>
    <link rel="stylesheet" href="../script/bootstrap-theme.css"></link>
    <script type="text/javascript" src="../script/angular.js"></script>
    <script type="text/javascript" src="../script/jquery.js"></script>
    <script type="text/javascript" src="../script/bootstrap.js"></script>
    <script src="../js/comment.js" type="text/javascript" charset="utf-8" ></script>
    <link rel="stylesheet" type="text/css" href="../css/comment.css"></link>
</head>

<body class="container"  ng-controller="Commentctrl">
    <div class="row" ng-controller="ReviewController" >
         <form name="CommentForm"  class="form-horizontal col-sm-6"  
        ng-submit="submitForm(CommentForm.$valid,reviews)" novalidate>
           
            <div class="form-group">
                <label class="control-label col-sm-4" for="star">Give us Rating:</label>
                <div class="col-sm-8">
                  <select ng-model="comment.star" name="star"  id="star" class="form-control" ng-required="true" >
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                  </select>
                </div>
            </div>

               <div class="form-group">
                <label class="control-label col-sm-4" for="comment">Comment:</label>
                <div class="col-sm-8">
                  <textarea ng-model="comment.comment" class="form-control" rows="5" id="comment"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Email:</label>
                 <div class="col-sm-8">
                <input type="email" id="email" placeholder="Email" class="form-control" name="email" ng-model="comment.author"  ng-required="true">
               
                         <span class="help-block"  ng-show="(CommentForm.email.$invalid && CommentForm.email.$untouched && CommentForm.email.$dirty ) || CommentForm.email.$error.email "> Please Enter Valid Email </span>

 

            </div>
            </div>
             <input type="submit" class="btn btn-danger col-sm-offset-8 col-sm-4" value="submit"></input>
          </form>

        <div class="col-sm-6" >
   
            <h2 class="text-center col-sm-12 cs"> Comment Section</h2>

               <blockquote>
                  <strong> Stars : {{comment.star}}</strong> <br>
                       <em>{{comment.comment}}</em> <br>
                <cite class="clearfix"> — {{comment.author}}</cite>
                </blockquote>
               
              <ul>
              
              <li ng-repeat="review in reviews">
                <blockquote>
                  <strong> Stars : {{review.star}}</strong> <br>
                       <em>{{review.comment}}  {{email}}</em>
                     
                  <cite class="clearfix">— {{review.author}}</cite>
                </blockquote>
              </li>
            </ul>
           

        </div>

        

         
    </div>
    </div>
</body>

</html>
